html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	/*padding: 8px;*/

	margin-top: 0px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
::-moz-selection { 
    color: #fff;
    background: rgba(142,224,251,1);
}

::selection {
    color: #fff;
    background: rgba(142,224,251,1);
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	transition: all ease 0.33s;
    line-height: 1em;
    border: 2px solid #000000;
    padding:15px 32px;
    border-radius: 30px;
    margin-right: 15px;
	color:  #000000;
    font-size: 15px;
    pointer-events: auto;
	background-color: transparent;
    background-repeat: no-repeat;

    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.dropdown {
	transition: all ease 0.33s;
    line-height: 1em;
    border: 2px solid #000000;
    padding:13px 32px;
    border-radius: 30px;
    margin-right: 15px;
	color:  #000000;
    font-size: 15px;
    pointer-events: auto;

	background-color: transparent;
    background-repeat: no-repeat;
  
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }

button:disabled {
	_color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

button:hover {
	color: rgba(255, 255, 255, 1);
	box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  }
.gradient_1{
background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(176,229,208,1) 42%, rgba(92,202,238,0.41) 93.6% );
}


.gradient_2{
	background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(142,224,251,1) 0%, rgba(255,121,225,1) 100.7% );	
}

.gradient_3{
	background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(222,168,248,1) 0%, rgba(168,222,248,1) 21.8%, rgba(189,250,205,1) 35.6%, rgba(243,250,189,1) 52.9%, rgba(250,227,189,1) 66.8%, rgba(248,172,172,1) 90%, rgba(254,211,252,1) 99.7% );
	}
	
.gradient_4{
	background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
	}

.gradient_5{
	background-image: linear-gradient( 109.6deg,  rgba(253,199,141,1) 11.3%, rgba(249,143,253,1) 100.2% );
	}

.gradient_6{
	background-image: linear-gradient( 109.6deg,  rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
		}
		
		
.gradient_7{
	background-image: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
		}
	
.gradient_8{
	background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
			}
			
			
.gradient_9{
	background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
			}
		

.full{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 0;
}
.side
{
	position: sticky;
	top: 0;
	right: 0;
	left:50%;
	padding: 10px;
	display: flex;
	 top: 0;
  	z-index: 999;

	  align-items: center;  /* Vertically aligns the items in the center */
	  gap: 10px;
}

.bar{
	display: flex;
	align-items: center;  /* Vertically aligns the items in the center */
	gap: 10px; 
}
.box{
max-width: 55%;
    position: relative;
    pointer-events: none;
    top: calc(50% + 60px);
    opacity: 1;
    transform: translateY(-50%);
    -webkit-transition: transform 1s, opacity 1s;
    -moz-transition: transform 1s, opacity 1s;
    -o-transition: transform 1s, opacity 1s;
    transition: transform 1s, opacity 1s;
}

	.question
	{
		font-weight: 500;
		line-height: 1em;
		font-size: 15vh;
		padding: 4%;
		/*color:#ffffff;*/

		background: -webkit-linear-gradient(0deg, #000000 0%, #48abe0 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.toggle-btn {
		display: inline-block;
		padding: 0.5rem 1rem;
		background-color: #f3f4f6;
		border: 1px solid #d1d5db;
		border-radius: 0.375rem;
		cursor: pointer;
		transition: background-color 0.2s;
	  }
	
	  .toggle-btn:hover {
		background-color: #e5e7eb;
	  }


	  /* Modal styles */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
	_filter: blur(10px);
  }

  .modal-content {
    background-color: #fff;
    padding: 1rem;
    width: 60%;
    position: relative;
 
  }

  .close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
  }


  .side {
	opacity: 0.3;
	transition: all ease 0.53s;
}
.side:hover {
	opacity: 1;
	transition: all ease 0.53s;
}
 
  @media (max-width: 600px) {

	.side {
		position: sticky;
		top: 0;
		right: 10;
		left:10%;
		padding: 10px;

		display: inline flow-root;
	margin-left: auto; 
	margin-right: 0;
 	 } 	
	  .question
	  {
		  font-weight: 500;
		  line-height: 1em;
		  font-size: 10vh;
}	
.side {
	opacity: 1;
	transition: all ease 0.53s;
}
}	






/* For smaller screens, allow two elements to fit side by side */
@media (max-width: 600px) { 



	.side {
		position: fixed;
		top: -100%;
		transition: top 0.3s ease-in-out;
		width: 100%; 
	}
	
	.side.visible {
		top: 0;
	}
}
